#json-preview-root {
  box-sizing: border-box;
}

#json-preview-root *,
#json-preview-root *::before,
#json-preview-root *::after {
  box-sizing: inherit;
}

#json-preview-root {
  --dummy-json-formatter-height: 20px;
  --preview-breadcrumb-foreground: #5f6368;
  --preview-description-foreground: #5f6368;
  --preview-breadcrumb-focus-foreground: #1a73e8;
  --preview-list-hover-background: #f1f3f4;
  --preview-panel-border: #cacaca;
  --preview-error-foreground: #d93025;
  --preview-warning-foreground: #f29900;
  --preview-info-foreground: #1a73e8;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

@media (prefers-color-scheme: dark) {
  #json-preview-root {
    --preview-breadcrumb-foreground: #9aa0a6;
    --preview-description-foreground: #9aa0a6;
    --preview-breadcrumb-focus-foreground: #8ab4f8;
    --preview-list-hover-background: #3c4043;
    --preview-panel-border: #494c50;
    --preview-error-foreground: #f28b82;
    --preview-warning-foreground: #fdd663;
    --preview-info-foreground: #8ab4f8;
  }
}

.json-preview-toggle {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: initial;
  font-family: monospace;
  user-select: none;
  height: var(--dummy-json-formatter-height);
}

.json-preview-toggle.docked {
  width: 100%;
  border-bottom: 1px solid rgb(187, 187, 187);
  background-color: light-dark(rgb(240, 240, 240), rgb(60, 60, 60));
}

.json-preview-toggle.floating {
  position: fixed;
  top: 0;
  right: 0;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.preview {
  margin-top: var(--dummy-json-formatter-height);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.child-grid-toggle-btn {
  background: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-inline: auto;
  border-radius: 50%;
  transition: background 0.1s ease;
}
