.table-wrapper {
  background-color: canvas;
  color: canvastext;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  border: 1px solid lightgray;
}

.table-wrapper > table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper tr {
  border-bottom: 1px solid lightgray;
}

.table-wrapper th,
.table-wrapper td {
  padding: 6px 4px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .table-wrapper,
  .table-wrapper tr {
    border-color: #333;
  }
}
