body {
  margin: 0;
  padding: 16px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.child-grid-toggle-btn {
  background: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-inline: auto;
  border-radius: 50%;
  transition: background 0.1s ease;
}

.child-grid-toggle-btn:hover {
  background: var(--vscode-list-hoverBackground, rgba(90, 93, 94, 0.31));
  color: var(
    --vscode-breadcrumb-focusForeground,
    var(--vscode-foreground, #fff)
  );
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
