.table-wrapper {
  height: 100%;
  overflow: auto;
  border: 1px solid var(--vscode-panel-border);
}

.table-wrapper > table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper tr {
  border-bottom: 1px solid var(--vscode-panel-border);
}

.table-wrapper th,
.table-wrapper td {
  padding: 6px 4px;
  text-align: center;
}

.table-wrapper .no-columns {
  width: 100%;
  padding-block: 64px;
  font-style: italic;
  text-align: center;
}
